* {
    --grass: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    --fire: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
    --water: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
    --normal: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
    --fighting: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
    --poison: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
    --rock: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
    --ice: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
    --dark: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
    --dragon: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
    --magic: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
    --steel: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
    --ground: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
    --bug: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
    --ghost: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
    --psychic: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
    --electric: linear-gradient(179.75deg, #bcc004 -19.96%, #e3dd24 43.67%, #ffff00 138.4%);
    --flying: linear-gradient(179.75deg, #94bbe9 -19.96%, #c1b5da 43.67%, #eeaeca 138.4%);
    --fairy: linear-gradient(179.75deg, #d31c65 -19.96%, #d31c81 43.67%, #d31cc4 138.4%)
}

.detail__container {
    color: #fff;
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/img/bg-detail.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 1px 1px #000, -1px -1px #000;
}
.detail__main{
    width: 50%;
    background-color: #00000070;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-top: 50px;
}

.detail__header {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail__name {
    text-align: center;
    padding: 10px;
    font-size: 60px;
    margin-top: 15px;
}

.detail__id {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.detail__img {
    position: absolute;
    justify-content: center;
    max-width: 250px;
    margin: 0 auto;
    z-index: 13;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokeid__bg {
    width: 80%;
    max-width: 1100px;
    height: 150px;
    bottom: -1px;
    right: auto;
    left: auto;
    border-radius: 8px;
}

.pokeid__img {
    justify-content: center;
    max-width: 350px;
    margin: 0 auto;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poketype__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
    height: auto;
    text-align: center;
}

.pokeid__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
    height: auto;
    text-align: center;
}

.pokeid__type {
    justify-content: center;
    width: 140px;
    height: 38px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    padding: 8px 0 20px;
    color: #fff;
}

.detail__stats__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.detail__text{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
}
.detail__progress {
    width: 40%;
    height: 30px;
    background: #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.detail__progress__fill {
    height: 100%;
    background: linear-gradient(45deg, #fcdf97, #eca134);
    border-radius: 5px;
}

.detail__stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 5%;
    margin: 0 auto 20px auto;
}
.bth__detail{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    background-color: #F2F2F2;
    font-size: 20px;
    font-weight: 300;
    color: #828282;
    margin-left: 20px;
}

.grass {
    background: var(--grass);
}

.fire {
    background: var(--fire);
}

.water {
    background: var(--water);
}

.bug {
    background: var(--bug);
}

.normal {
    background: var(--normal);
}

.fighting {
    background: var(--fighting);
}

.poison {
    background: var(--poison);
}

.rock {
    background: var(--rock);
}

.ice {
    background: var(--ice);
}

.dark {
    background: var(--dark);
}

.dragon {
    background: var(--dragon);
}

.magic {
    background: var(--magic);
}

.steel {
    background: var(--steel);
}

.ground {
    background: var(--ground);
}

.ghost {
    background: var(--ghost);
}

.psychic {
    background: var(--psychic);
}

.electric {
    background: var(--electric);
}

.flying {
    background: var(--flying)
}

.fairy {
    background: var(--fairy)
}

@media (max-width:750px) {
    .detail__stats {
        width: 100%;
    }
    .detail__text{
        font-size: 20px;
    }
    .bth__detail{
        width: 80px;
        height: 40px;
        font-size: 15px;
    }
}
@media (max-width:450px) {
.detail__main{
    width: 85%;
}
}