* {
    --grass: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    --fire: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
    --water: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
    --normal: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
    --fighting: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
    --poison: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
    --rock: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
    --ice: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
    --dark: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
    --dragon: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
    --magic: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
    --steel: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
    --ground: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
    --bug: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
    --ghost: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
    --psychic: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
    --electric: linear-gradient(179.75deg, #bcc004 -19.96%, #e3dd24 43.67%, #ffff00 138.4%);
    --flying: linear-gradient(179.75deg, #94bbe9 -19.96%, #c1b5da 43.67%, #eeaeca 138.4%);
    --fairy: linear-gradient(179.75deg, #d31c65 -19.96%, #d31c81 43.67%, #d31cc4 138.4%);
    z-index: 2;
  }  
  .card__container{
   width: 300px;
  }
  .card__poke {
    width: 300px;
    max-height: 430px;
    border-radius: 10px;
    margin: 30px auto;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .card__border {
    background-color: #1479FB;
    padding: 15px 10px;
    border-radius: 8px;
    position: relative;
    z-index: -3;
  }
  
  
  .card__header__container {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card__header {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card__body {
    height: fit-content;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .card__bg {
    width: 100%;
    height: 128px;
    position: absolute;
    z-index: -1;
    border-radius: 8px;
  }
  
  .card__name {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .card__attack{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .card__types__container {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  
  .card__type {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 2px;
    background: #1479FB;
    border-radius: 6px;
    color: #fff;
    margin: 6px;
    min-width: 100px
  }
  .card__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .card__btn{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    background-color: #F2F2F2;
    font-size: 16px;
    font-weight: 500;
    color: #ff0000;
  }
  
  /* bg type color */
  
  .card__header .grass {
    background: var(--grass);
  }
  
  .card__types__container .grass {
    background: var(--grass);
  }
  
  .card__header .fire {
    background: var(--fire);
  }
  
  .card__types__container .fire {
    background: var(--fire);
  }
  
  .card__header .water {
    background: var(--water);
  }
  
  .card__types__container .water {
    background: var(--water);
  }
  
  .card__header .bug {
    background: var(--bug);
  }
  
  .card__types__container .bug {
    background: var(--bug);
  }
  
  .card__header .normal {
    background: var(--normal);
  }
  
  .card__types__container .normal {
    background: var(--normal);
  }
  
  .card__header .fighting {
    background: var(--fighting);
  }
  
  .card__types__container .fighting {
    background: var(--fighting);
  }
  
  .card__header .poison {
    background: var(--poison);
  }
  
  .card__types__container .poison {
    background: var(--poison);
  }
  
  .card__header .rock {
    background: var(--rock);
  }
  
  .card__types__container .rock {
    background: var(--rock);
  }
  
  .card__header .ice {
    background: var(--ice);
  }
  
  .card__types__container .ice {
    background: var(--ice);
  }
  
  .card__header .dark {
    background: var(--dark);
  }
  
  .card__types__container .dark {
    background: var(--dark);
  }
  
  .card__header .dragon {
    background: var(--dragon);
  }
  
  .card__types__container .dragon {
    background: var(--dragon);
  }
  
  .card__header .magic {
    background: var(--magic);
  }
  
  .card__types__container .magic {
    background: var(--magic);
  }
  
  .card__header .steel {
    background: var(--steel);
  }
  
  .card__types__container .steel {
    background: var(--steel);
  }
  
  .card__header .ground {
    background: var(--ground);
  }
  
  .card__types__container .ground {
    background: var(--ground);
  }
  
  .card__header .ghost {
    background: var(--ghost);
  }
  
  .card__types__container .ghost {
    background: var(--ghost);
  }
  
  .card__header .psychic {
    background: var(--psychic);
  }
  
  .card__types__container .psychic {
    background: var(--psychic);
  }
  
  .card__header .electric {
    background: var(--electric);
  }
  
  .card__types__container .electric {
    background: var(--electric);
  }
  
  .card__header .flying {
    background: var(--flying)
  }
  
  .card__types__container .flying {
    background: var(--flying)
  }
  
  .card__header .fairy {
    background: var(--fairy)
  }
  
  .card__types__container .fairy {
    background: var(--fairy)
  }